.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #112B3E;
    width: 100%;
    font-weight: bold;
    padding: 17px 17px;
    position: fixed;
    top: 0;
    .logo {
        
        color: white;
        text-decoration: none;
        margin-left: 25px;
        
        position: relative;
        sub {
            position: absolute;
            bottom: 11px
        }
    }
    img {
        width: 60px;
    }
}