.activeArticle {
    padding: 0px 121px 64px;
    text-align: left;
    &__title {
        font-size: 36px;
        font-weight: bold;
        color: white;
        margin-bottom: 20px;
    }
    &__img {
        margin-bottom: 20px;
        width: 100%;
    }

    &__comment {
        font-weight: bold;
        padding: 18px 35px ;
        background-color: #fff;
        &_title {
            margin-bottom: 25px;
        }
    }
}